defaults:
  - model: ssd_detector
  - writer: wandb
  - metrics: detection
  - datasets: ruler_detection
  - dataloader: detection
  - transforms: detection
  - loss@loss_function: detection
  - _self_

paths:
  images_dir: data/ruler/unlabeled
  coco_annotations: data/ruler/annotations/ruler_coco.json
  train_ids: data/ruler/annotations/split_train.txt
  val_ids: data/ruler/annotations/split_val.txt
  test_ids: data/ruler/annotations/split_test.txt

optimizer:
  _target_: torch.optim.AdamW
  lr: 1e-4
  weight_decay: 0.0001

lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  step_size: 5
  gamma: 0.5

trainer:
  log_step: 20
  n_epochs: 30
  epoch_len: null
  device_tensors: ["images", "targets"]
  resume_from: null
  device: auto
  override: False
  monitor: "max val_mAP"
  save_period: 5
  early_stop: 10
  save_dir: "saved"
  seed: 42
  compute_eval_loss: true

writer:
  project_name: "ruler-detector"
  run_name: "ruler-detector-ssd"
  mode: "online"
  loss_names:
    - loss
    - loss_loss_classification
    - loss_loss_bbox_regression
  log_checkpoints: true
  save_code: true
